*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --primary_color: rgba(37, 32, 32, 0.863);
}

body{
    background-color: black;
    color: white;
    font-family: 'Montserrat', sans-serif;
}


a{
    text-decoration: none;
    color: white;
}

.icon{
    height: 23px;
    width: 23px;
    cursor: pointer;
}
.spotify_logo{
    transform: scale(1.4);
}

.navbar{
    width: 100%;
    justify-content:space-between;
    position: fixed;
    top: 0;
    left: 0;
}


.home_and_explore{
    gap: 10px;
}
.home{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    cursor: pointer;
}
.home:hover{
    filter: brightness(1.2);
    transform: scale(1.04);
}
.explore{
    gap: 10px;
    width: 22em;
    cursor: pointer;
}
.explore:hover{
    filter: brightness(1.3);
}
.searchBar{
    width: 80%;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
}
.searchBar::placeholder{
    color: rgb(184, 175, 175);
    font-weight: bold;
}


.login_area{
    gap: 10px;
    font-size: 13px;
    font-weight: bold;
}
.signup_button{
    padding: 10px 15px 10px 15px;
    color: rgb(151, 149, 149);
}
.login_button{
    background-color: white;
    color: black;
    padding: 10px 20px 10px 20px;
    border-radius: 18px;
}
.login_button:hover{
    transform: scale(1.03);
}
.signup_button:hover{
    transform: scale(1.03);
    color: white;
}

.container{
    position: relative;
    /* border: 2px solid red; */
    margin-top: 63px;
    height: calc(100vh - 63px);
}
.left{
    display: flex;
    align-items: center;
    position: fixed;
    top: 63px;
    width: 25%;
    left: 0;
    height: calc(100% - 73px);
    /* border: 2px solid yellow; */
    overflow-y: auto;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    flex-direction: column;
    gap: 20px;
}
.right {
    position: fixed;
    top: 63px; /* Below the navbar */
    right: 0;
    width: 73.5%;
    /* border: 2px solid yellow; */
    height: calc(100% - 73px);
    overflow-y: auto;
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
    background: linear-gradient(to bottom, rgba(12, 51, 49, 0.863), rgba(12, 51, 49, 0.363));
}

.your_library{
    gap: 7px;
    cursor: pointer;
}
.your_library:hover{
    color: white;
    transition: all ease 0.5s;
}
.create_folder{
    height: 25px;
    width: 25px;
    cursor: pointer;
}
.create_folder:hover{
    background-color: rgba(128, 128, 128, 0.158);
}
.create_folder_button{
    height: 15px;
    width: 15px;
}
.left > *{
    width: 100%;
}

.library{
    margin-top: 10px;
    justify-content: space-between;
    font-weight: bold;
    color: gray;
}

.playlist p:first-child{
    font-weight: bold;
}
.podcast p:first-child{
    font-weight: bold;
}
.left_button{
    display: block;
    width: 45%;
    border: none;
    font-weight: 750;
    margin: 20px 10px 10px 5px;
    cursor: pointer;
}
.left_button:hover{
    transform: scale(1.03);
}

.links{
    margin-left: 10px;
    font-size: 9px;
    gap: 10px;
    flex-wrap: wrap;
}

.lang{
    width: fit-content;
    align-self: flex-start;
    gap: 8px;
    border: 1px solid white;
    font-weight: bold;
    cursor: pointer;
}
.lang img{
    height: 15px;
    width: 15px;
}
.podcast{
    /* position: relative; */
    margin-bottom: 50px;
}
.footer{
    margin-top: 30px;
    position: relative;
    bottom: 10px;
}

/* .suggestions{
    height: 10px;
} */
.heading{
    justify-content: space-between;
    font-weight: bold;
}
.heading > *{
    cursor: pointer;
}
.heading > *:hover{
    text-decoration: underline;
}

.component{
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 20%;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}
.component img{
    align-self: center;
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 10px;
    box-shadow: 7px 5px 20px 1px #000000b5;
}
.component:hover{
    background: linear-gradient(to bottom, rgba(12, 51, 49, 0.863), rgba(12, 51, 49, 0.363));
}
.artist_name{
    font-size: 12px;
    font-weight: bold;
    margin: 15px 0px 0px 0px;
}
.artist{
    font-size: 12px;
    color: gray;
    margin: 3px 0px 10px 0px;
}
.play_button {
    position: absolute;
    right: 25px;
    bottom: 36%;
    display: none;
    z-index: 10;
}
.component:hover .play_button {
    opacity: 1;
    transform: translateY(0);
    display: flex;
    transition: transform 2s ease 2.5s;
}
.play_button img{
    border-radius: 50%;
    padding: 8px;
    background-color: rgb(62, 182, 62);
    height: 35px;
    width: 35px;
}
.play_button img:hover{
    background-color: rgb(97, 209, 97);
}

.artist_section img{
    border-radius: 50%;
}

.main_footer{
    font-size: 13px;
    gap: 10px;
    margin: 40px 0px 50px 8px;
}
.main_footer > *{
    width: 20%;
}
.social_link{
    display: flex;
    flex-direction: column;
}
.social_link > *{
    margin: 5px 0px 5px 0px;
}
.social_link > *:not(:first-child){
    color: rgb(161, 149, 149);
    cursor: pointer;
}
.social_link > *:not(:first-child):hover{
    color: white;
    text-decoration: underline;
}
.social_icon > *:hover{
    filter: brightness(1.5);
}
.main_footer img{
    width: 17px;
    height: 17px;
}
.main_footer > * :first-child{
    font-weight: bold;
}
.social_icon > *{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: fit-content;
    background-color: rgba(54, 53, 53, 0.616);
    border-radius: 50%;
}
.social_icon{
    gap: 10px;
}
.dividing_line{
    margin: auto;
    width: 100%;
    border: none;
    height: 0.5px;
    background-color: rgba(126, 116, 116, 0.651);
}

.copyright{
    font-size: 14px;
    margin: 50px 0px 50px 10px;
}



@media screen and (max-width: 800px){


    .left{
        width: 40%;
        display: none;
    }

    .navbar{
        width: 100%;
        gap: 10px;
        justify-content: flex-start;
    }
    .spotify_logo{
        margin-left: 10px;
    }
    .login_area{
        margin-left: auto;
        /* justify-self: flex-end; */
    }
    .explore{
        width: fit-content;
    }
    .explore > *:not(:first-child){
        display: none;
    }

    .container{
        padding: 5px;
    }
    .right{
        margin-left: 5px;
        width: 100%;    
        overflow-x: hidden;
    }
    .component{
        width: 200px;
    }
    .suggestions{
        /* width: 300vw; */
        overflow-x: scroll;
        white-space: nowrap;
        scroll-behavior: smooth;
        scrollbar-width: 0px;
    }
    .suggestions::-webkit-scrollbar{
        display: none;
    }

    .social_icon{
        align-self: flex-end;
        justify-self: flex-start;
    }

    .main_footer{
        width: 100%;
        flex-wrap: wrap;
        gap: 0px;
    }
    .social_link{
        padding: 0px;
        margin: 0px;
        width: 25%;
    }



}

